*.swp
Makefile
test-driver
.libs
Makefile.in
configure
libtool
ltmain.sh
config.guess
config.sub
install-sh
missing
compile
aclocal.m4
config.log
config.status
depcomp
autom4te.cache
.dirstamp
.deps
.sconsign*
src/*.o
src/*.lo
examples/*.o
*.a
*.la
*.pc
*.tar.gz
*.zip
docs/html
TAGS
tags
examples/active
examples/basic
examples/bot
examples/component
examples/roster
examples/uuid
test_stamp
test-suite.log
tests/*.o
tests/*.log
tests/*.trs
tests/check_parser
tests/test_base64
tests/test_ctx
tests/test_hash
tests/test_jid
tests/test_md5
tests/test_rand
tests/test_resolver
tests/test_sasl
tests/test_scram
tests/test_sha1
tests/test_snprintf
tests/test_string
tests/test_sock
m4/
libstrophe.project
libs/
obj/
expat/
