Makefile
test-driver
.libs
src/*.lo
*.la
Makefile.in
configure
libtool
ltmain.sh
config.guess
config.sub
install-sh
missing
compile
aclocal.m4
config.log
config.status
depcomp
autom4te.cache
.dirstamp
.deps
.sconsign*
src/*.o
examples/*.o
*.a
*.pc
*.tar.gz
*.zip
docs/html
TAGS
tags
examples/active
examples/basic
examples/bot
examples/component
examples/roster
test_stamp
test-suite.log
tests/*.o
tests/*.log
tests/*.trs
tests/check_parser
tests/test_base64
tests/test_ctx
tests/test_hash
tests/test_jid
tests/test_sasl
tests/test_sock
m4/
libstrophe.project
