Makefile
Makefile.in
configure
install-sh
missing
aclocal.m4
config.log
config.status
depcomp
autom4te.cache
.dirstamp
.deps
.sconsign*
src/*.o
examples/*.o
tests/*.o
tests/check_parser
*.a
examples/basic
examples/active
examples/roster
examples/bot
