Source:            libstrophe-git
Maintainer:        Florent Peterschmitt <florent@peterschmitt.fr>
Section:           misc
Priority:          optional
Standards-Version: 3.9.2
Build-Depends:     debhelper (>=8), libexpat1-dev, libexpat1, automake, autoconf, pkg-config, check

Package:           libstrophe-git
Provides:          libstrophe
Depends:           ${shlibs:Depends}, ${misc:Depends}, libexpat1
Description:       A simple, lightweight C library for writing XMPP clients
Architecture:      all
